<div style="display: flex">
  <div class="container">
    <div class="a" *ngFor="let name of names" (click)="clickName(name)">
      {{ name }} |{{ isRead?.length ? isRead.length - 1 : subnames.length }}
    </div>
  </div>
  <form *ngIf="inbox" [formGroup]="formGroup">
    <input
      type="text"
      placeholder=" Search Courses"
      name="search"
      formControlName="searchText"
    />
    <div
      class="a"
      *ngFor="let sub of subnames | searchData : formGroup.value; let i = index"
      (click)="clickSubName(sub, i)"
    >
      {{ sub.name }}
    </div>
  </form>
  <div *ngIf="title" class="a">
    <button (click)="addToFav()">fav</button>
    <button (click)="deleteList(title)">delete</button>
    <div style="display: flex; gap: 16px">
      <div>
        {{ title }}
      </div>
      <div>1 minute ago</div>
    </div>
    {{ desc }}
  </div>
  <div *ngIf="fav">
    <div *ngFor="let fav of favorates">
      <h2>{{ fav.subname }}</h2>
      <span>{{ fav.desc }}</span>
    </div>
  </div>
</div>
